<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <main id="dashboard">
    
  </main>
  <script>
    var trips = <%- JSON.stringify(trips) %>;
  </script>
  <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
