<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <main id="login">
    
  </main>
  <script type="text/babel" src="/js/login.js"></script>
</body>
</html>
