<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
    <label class="label">Email</label>
    <p class="control">
      <input class="input" type="text" placeholder="">
    </p>
    <label class="label">Name</label>
    <p class="control">
      <input class="input" type="text" placeholder="">
    </p>
    <label class="label">Password</label>
    <p class="control">
      <input class="input" type="password" placeholder="">
    </p>
    <div class="control is-grouped">
      <p class="control">
        <button class="button is-primary">Sign Up</button>
      </p>
      <p class="control">
        <a href="/user/login" class="button is-primary">Login</a>
      </p>
    </div>
  </div>


</body>
</html>
