<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <main id="register">
    
  </main>
  <script type="text/babel" src="/js/register.js"></script>
</body>
</html>
